// clang-format off
#define CONFIG_WIRELESS
#define ZMK_BASE_LAYER(name, LT, RT, LM, RM, LB, RB, LH, RH)                                      \
    ZMK_LAYER(                                                                                    \
        name,                                                                                     \
        &kp F1    &kp F2 &kp F3 &kp F4 &kp F5               &kp F6 &kp F7 &kp F8 &kp F9 &kp F10   \
        &kp EQUAL &kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp MINUS \
        &kp TAB              LT                                            RT           &kp BSPC  \
        &kp ESC              LM                                            RM           &none     \
        &none                LB &none  &none  &none  &none  &none &none    RB           &none     \
                                &none  &none &none                                                \
        &kp LEFT  &kp RIGHT  LH &none                             &none    RH    &kp UP &kp DOWN  \
                                                     &none  &none &none)

#include "zmk-helpers/key-labels/glove80.h"


/* reuse basic mod-morph scheme. Copied from urob base.keymap */
#define SIMPLE_MORPH(NAME, MOD, BINDING1, BINDING2) \
    ZMK_MOD_MORPH(NAME, \
        mods = <(MOD_L ## MOD|MOD_R ## MOD)>; \
        bindings = <BINDING1>, <BINDING2>; \
    )

/* FIX: not working. no idea why. */
/* ---------------- Me: special morphs for 'glove80-urob' --------------- */
/* SIMPLE_MORPH(slash_morph, SFT, &kp SLASH, &kp PIPE) */
/* ---------------- END --------------------------------- */



/* map the Glove's extra keys */
#define X_LT  \
                &kp F1    &kp F2 &kp F3 &kp F4 &kp F5                 &kp F6 &kp F7 &kp F8 &kp F9 &kp F10 \
                &kp EQUAL &kp N1 &kp N2 &kp N3 &kp N4 &kp N5   &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp MINUS \
                &kp TAB
#define X_RT    &kp SHLASH

#define X_LM    &kp ESC
#define X_RM    &sk LCTRL

#define X_LB    &kp GRAVE
/* &sl NAV on the RH might be nice too with the repeate key... */
#define X_MB    &kp RETURN &sl FN &none       &none &none &key_repeat
#define X_RB    &sk LGUI

#define X_LH    &sk LALT &kp BSPC &kp MINUS &kp LEFT &kp RIGHT
#define X_MH    &kp PG_UP &kp PG_DN
#define X_RH    &kp UP &kp DOWN &kp LEFT_BRACKET &kp PG_DN &kp PG_UP

/* activate bluetooth */
#define CONFIG_WIRELESS 1

/* source the main keymap */
#include "base.keymap"
